<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>gps tracking</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/gps.js"></script>
</head>
<body>
    <h1>GPS Tracking via socket.io</h1>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input"/>
    </div>
    <div id="content"></div>
</body>
</html>
